.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.maze {
  position: relative;
  width: 270px;
  height: 270px;
  background-color: rgb(131 218 56);
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
}

.cell {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  position: relative;
  cursor: pointer;
}

.pillar {
  width: 100%;
  height: 100%;
  background-color: rgb(1 3 6);
}

.button {
  background-color: rgb(141 110 49);
  color: rgb(12 11 11);
  border-radius: 0.4rem;
  cursor: pointer;
}

.human {
  background-color: rgb(141 110 49);
  color: rgb(12 11 11);
  border-radius: 0.4rem;
  cursor: pointer;
}

.position {
  width: 80%;
  height: 80%;
  background-color: rgb(199 25 25);
  background-position: center;
}
